[2019-01-17 08:28] puneet0191 opened #3 "Add support for Cloud Storage"
Need a function that can download base images from a cloud platform like Google -Drive, it should be parameterized, with the user, key and folder name as three input parameters.

Base images can be downloaded on the fly from the cloud platform, preventing the need to store images on Github Repo.

Similarly, Diff images generated can be uploaded on the cloud platform and link returned to the users.

[2019-02-24 17:47] puneet0191 opened #7 "saveScreenshot into seeVisualDiff/seeVisualDiffForElement"
use the `saveScreenshot` method within the seeVisualDiff/seeVisualDiffForElement methods and make them perform complete action

[2019-02-24 17:48] puneet0191 opened #8 "Debug Mode Imporvements"
1) Add support for debugMode
2) DebugMode improvements, ask for saving the base image, ask for updating the base image in case comparison doesn't work as expected.

[2019-02-24 17:49] puneet0191 opened #9 "update documentation"
update documentation, have real examples of each function, and then move the main code to a new section, doc-blocks are not helping on readme, rather have calls

[2019-02-24 17:50] puneet0191 opened #10 "Integrate Allure Reporting"
add allure, reporter support, check screenshotOnFail.js plugin

[2019-02-24 17:51] puneet0191 opened #11 "Puppeteer Support"
Use the same logic with puppeteer driver

[2019-02-24 17:52] puneet0191 opened #12 "Minor Improvements"
- add support for IgnoredBox, with updated documentation

- add a debug to print the path to file, for printing the URL of the Diff Image in the console.

[2019-03-05 18:03] prasadgujar commented on #12
@puneet0191 are you working on this issue?
if not let me know I m interested in solving issues.

[2019-03-06 09:06] puneet0191 commented on #12
@prasadgujar sure go ahead and help me with the issues, let me know how it goes

[2019-03-10 06:59] prasadgujar commented on #12
Already started working on this issue. @puneet0191

[2019-03-10 07:01] prasadgujar commented on #3
@puneet0191  what are the other cloud-based platform should be added? for example Microsoft-OneDrive.

[2019-03-24 23:40] srbhss commented on #7
Feature('Screen comparison with Resemble Js test');

Scenario('Compare web page with visual test', async (I) => {
    I.amOnPage("url/");
    I.saveScreenshot("Codecept_IO_Screenshot_Image.png");
    I.seeVisualDiff("Codecept_IO_Screenshot_Image.png", {prepareBaseImage: 'false', tolerance: 3});
});

[2019-03-25 22:20] rathovarun commented on #11
#19

[2019-03-25 22:22] rathovarun commented on #11
#19 Update index.js
`

[2019-03-25 22:22] rathovarun commented on #11
#19

[2019-06-05 11:22] puneet0191 commented on #11
Thanks, Support added as part of https://github.com/Percona-Lab/codeceptjs-resemblehelper/pull/24 closing the issue now.

[2019-06-05 11:22] #11 closed

[2019-06-23 11:12] vitaly87 opened #29 "not working with debug mode with codeceptjs"
cant work with debug mode getting errors:

the conf codeceptjs :

`  ResembleHelper: {
      require: "codeceptjs-resemblehelper",
      screenshotFolder: "./output/",
      baseFolder: "./tests/visual-testing/screenshots/base/",
      diffFolder: "./output/diff/"
    }`
the error:

`Could not load helper ResembleHelper from module 'codeceptjs-resemblehelper':
Cannot find module 'codeceptjs-resemb

[2019-06-23 11:15] Kartikeya99 commented on #29
Can you please paste your whole configuration file?

[2019-06-23 11:46] vitaly87 commented on #29
if not debug mode its working if its debug mode then no

[2019-06-23 15:37] Kartikeya99 commented on #29
Are you running `codeceptjs run --debug` ?

[2019-06-23 18:12] vitaly87 commented on #29
nope. i configer to run codecptjs with debug that means working with nodejs with breakpoints

[2019-06-23 18:13] vitaly87 opened #30 "browser.element is not a function"
when I updated to last WebdriverIO 5 my tests are failing

`  browser.element is not a function

  Scenario Steps:

  - I.seeVisualDiffForElement(".infaOnglet", "Home_Page_Image.png", {"prepareBaseImage":false,"tolerance":1}) at Test.I (tests\visual-testing\homePage.js:27:7)
  - I.saveScreenshot("Home_Page_Image.png") at Test.I (tests\visual-testing\homePage.js:23:7)

  `

[2019-07-01 09:34] puneet0191 commented on #30
Known Issue with Windows, Please read about canvas node package issue with windows

[2019-07-01 09:34] #30 closed

[2019-07-01 09:35] puneet0191 commented on #10
This is implemented, https://github.com/Percona-Lab/codeceptjs-resemblehelper/pull/26

[2019-07-01 09:35] #10 closed

[2019-07-01 09:36] puneet0191 commented on #3
Implemented, AWS support https://github.com/Percona-Lab/codeceptjs-resemblehelper/pull/28

[2019-07-01 09:36] #3 closed

[2019-07-18 10:34] manciukass commented on #12
Hi, guys maybe you have any status about this request? Or know a workaround for ignoredBoxes to work :)

[2019-07-18 11:01] puneet0191 commented on #12
@manciukass  IgnoredBoxes can be used by providing element locator so that the screenshot comparison happens only for that element and ignores the rest of the area on the image.
have you tried using :
`seeVisualDiffForElement`

[2019-07-18 11:07] manciukass commented on #12
Yes, I know that, but imagine a page with lots of elements, and let's say i would like to ignore half of the page from the bottom. I would not like to check every element separately. So idea to have possibility to check only some parts (big) of page would be really nice to have :)

[2019-07-18 11:11] puneet0191 commented on #12
@manciukass hmm you make sense, let me try to add this request as part of the new release which will be `1.6.0` coming out in some days

[2019-07-18 11:20] manciukass commented on #12
That would be wonderful :)

[2019-07-19 05:28] #12 closed

[2019-08-02 08:17] pablopaul opened #36 "Config: Why do we need screenshotFolder?"
https://codecept.io/visual says

Why do we need it then as config here? Instead the plugin could pull it directly from the CodeceptJS config, what do you think?

Smaller config surface, better plugin I would say :)

[2019-08-14 10:05] tairun opened #41 "Node crash if dimension mismatch in `I.seeVisualDiff`"
- codeceptjs-resemblehelper: 1.6.0
- codeceptjs: 2.1.5
- node: 10.14.0

When using release 1.6.0 of this helper, node crashes with the following error if the dimension of the screenshots is not the same:

![error](https://user-images.githubusercontent.com/4248906/63012952-6e31cd80-be8b-11e9-9530-9289122d57ec.png)

This is most likely due to the version of resemblejs being used. In the package.json

[2019-08-14 10:19] Kartikeya99 commented on #41
That error is set by choice. Because if the dimensions aren't same then the tool behaves a bit unpredictably.

[2019-08-14 14:30] FreshHead opened #42 "Suggestion to add width and height into "The images are not of same dimensions" error"
Hello ✋
I have a proposal. I think error message that throws when images has different dimensions can be more informative.
Right now message is:
"The images are not of same dimensions. Please use images of same dimensions so as to avoid any unexpected results."
You can find it there https://github.com/Percona-Lab/codeceptjs-resemblehelper/blob/c043b88b2281a280450983f010a2148ab74a460d/index.js#L43

[2019-08-14 14:35] tairun commented on #41
I get that the diff-image produced by resemblejs with two images of different size isn't meaningful. But **NODE** crashes completely... which isn't a good thing. The error thrown should just cause the scenario to fail and then codeceptjs should get on with the next scenario. You still have the error in your tests about size mismatch in the end.

[2019-08-14 14:44] tairun commented on #41
Instead of throwing error [here](https://github.com/Percona-Lab/codeceptjs-resemblehelper/blob/c043b88b2281a280450983f010a2148ab74a460d/index.js#L43), also `reject(throw new Error(...))` with error... then it will also work with version **3.2.0** of *resemblejs*.

[2019-08-15 15:00] Kartikeya99 commented on #41
Which node version are you using?

[2019-08-19 10:51] tairun commented on #41
To quote myself here:

[2019-08-20 13:09] pablopaul opened #44 "Warning message: resemble.outputSettings mutates global state"
I get the following output:

`resemble.outputSettings mutates global state, and will be removed in a later major version`

Can we remove this?

[2019-08-20 13:24] pablopaul commented on #41
I ran into the same today.

[2019-08-21 06:44] #41 closed

[2019-08-21 12:18] SokolovAlex opened #45 "Not installed on MAC ERR! canvas@2.6.0"
try to install package on MAC

npm install codeceptjs-resemblehelper
npm install --build-from-source codeceptjs-resemblehelper

and see this error

npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! canvas@2.6.0 install: `node-pre-gyp install --fallback-to-build`

what's wrong?

[2019-08-28 15:28] ko4ergins opened #46 "Delete diff_image.png when test passed: no such file"

[2019-08-28 16:12] #46 closed

[2019-08-28 16:21] ko4ergins commented on #46
Please, delete this issue.

[2019-08-29 06:00] puneet0191 commented on #45
thanks for reporting this, I will look into it and get back

[2019-08-29 06:01] puneet0191 commented on #44
@Kartikeya99 can you look into this?

[2019-08-29 06:03] puneet0191 commented on #42
Thanks for suggestion @FreshHead  I really appreciate, I will have this updated.

[2019-08-29 06:03] puneet0191 commented on #42
@Kartikeya99 this one as well, please?

[2019-08-29 06:03] puneet0191 commented on #36
this is fixed, will be release as part of the new version. thanks for your suggestion.

[2019-08-29 06:03] #36 closed

[2019-08-29 06:41] Kartikeya99 commented on #44
I found a similar issue https://github.com/rsmbl/Resemble.js/issues/144#issuecomment-405960445 in the 2nd version of resemblejs and it was promised to be fixed upwards the 3.0.0 version.
The tool already uses the 3.0.0 version and so I'm assuming that this issue hasn't yet been fixed and will be fixed in either the 4th or later major versions and it should be safe for us to use until the dependenc

[2019-09-02 07:25] puneet0191 commented on #42
Fixed, will be available in the next version thanks

[2019-09-02 07:25] #42 closed

[2019-09-02 07:51] Kartikeya99 commented on #44
My pull request removing the warning just got merged at resemblejs. Now we can update the resemblejs dependency and the warning will not come.

[2019-09-19 19:03] leonardonelson91 opened #48 "Add custom assert message"
Hi, it would be nice to have the ability to provide a custom assert error message on the visualDiff functions, so that it looks better in the reports.

**Current assert error message:**
`MissMatch Percentage 1.86
      + expected - actual
      -false
      +true`

**Desired assert error message example:**
`
      Images A and B do not match. (MissMatch Percentage 1.86)
      + expected - actual

[2019-09-20 07:01] puneet0191 commented on #48
Sure, go ahead and help with the Patch if you can :) otherwise I look into it in some days, thanks a lot

[2019-10-22 12:30] ashiots2 opened #50 "BaseFolder is not found when running codecept from outside test root folder"
Relative path is not resolved in the helper.

Fixed it so that it will be resolved if baseFolder and diffFolder are not absolute paths.

Fixed in PR: https://github.com/Percona-Lab/codeceptjs-resemblehelper/pull/51

Looking forward to your review!

[2019-10-23 09:15] ashiots2 opened #52 "Allure report does not show diff screenshot"
Allure report shows the diff screenshot as corrupted; since the fs.writeFile() call is not finished when allure.addAttachment is called.

I replaced the fs.writeFile() call with fs.writeFileSync() in https://github.com/Percona-Lab/codeceptjs-resemblehelper/pull/51

Also covered some warnings the IDE highlighted.

Again, looking forward to your review :)

[2019-11-01 15:17] puneet0191 commented on #50
Fixed

[2019-11-01 15:17] #50 closed

[2019-11-01 15:17] #52 closed

[2019-11-01 15:17] puneet0191 commented on #52
Fixed thanks

[2019-12-19 17:58] Georgegriff opened #57 "Error `Module did not self-register.`using helper with new Codeceptjs workers"
Using new codeceptjs workers: https://codecept.io/parallel/

This helper will not load.

Similar issue here: https://github.com/ethereum/web3.js/issues/2723

From reading that issue i found that if i moved the require `require("resemblejs")` until its used it works for some of the workers, but nott all.

[2019-12-19 18:06] Georgegriff commented on #57
I think this might be timing related because if i moved the require to inside the promise just before its used some of the workers work as expected

[2019-12-19 19:26] Georgegriff commented on #57
I've worked around this locally by copying the helper and providing my own implementation that does not use resemblejs but pixelmatch instead. this loses the bounding box functionality but okay as a temp work around

[2019-12-20 10:14] Georgegriff commented on #57
My version of compare Images:

[code]

Lost ignoreBox functionality

[2019-12-20 10:15] Georgegriff commented on #57
I was also finding i had to do this for workers:
wrap screenshot in a mkdirp for screenshotFolder, my guess is that in worker mode the output directory is lazily created or something similar? puppeteer was failing to capture screenshots
[code]

[2019-12-20 10:17] Georgegriff commented on #57
You'll notice in example that tolerance works differently too so i've had to do some logic to calculate a % diff, i might have screwed this up, potentially, but seems to work for my tests.

[2019-12-24 14:42] theptyza opened #58 "codeceptjs-resemblehelper and Allure Screen Diff Plugin"
Allure Screen Diff Plugin expects screenshots to be named exactly "actual", "expected" and "diff".
codeceptjs-resemblehelper names screenshots "Base Image", "Screenshot Image" and "Diff Image"
Is there some way to make them compatible? Right now I have to attach the same screenshots again with other names for the Diff Plugin to work:
![image](https://user-images.githubusercontent.com/5357603/71417

[2020-03-04 15:14] ghost opened #60 "OS specific resemblejs tolerance issues"
#### What are you trying to achieve?

Hello, first thanks a million for this great helper! It makes my life easier :)

I am experimenting [Visual Testing based on resemblejs](https://codecept.io/visual/#using-resemble-helper), and I face a strange issue:

The tests pass when I run them locally on the computer that originally created the screenshot (Mac OS), weather HEADLESS is on or off.
However,

[2020-03-12 09:47] szaboge opened #61 "Update mkdirp@0.5.1 to mkdirp@1.0.3 because of dependency vulnerability"
Need to update **mkdirp** dependency, because of 0.5.1 version's dependency affected prototype pollution.

snyk detected the vulnerability.

[code]

[https://snyk.io/vuln/SNYK-JS-MINIMIST-559764](https://snyk.io/vuln/SNYK-JS-MINIMIST-559764)

Please upgrade mkdirp to 1.0.3, what no use minimists.

[2020-03-12 10:31] szaboge commented on #61
[code]

[2020-04-24 05:34] puneet0191 commented on #60
Hello @flosch-hb thanks for the questions, I am extremely sorry I was occupied with some load.

1) is this expected? Where can I find information about the visual comparison "tolerance" and overall options? I do not find a reference to it in their documentation: https://github.com/rsmbl/Resemble.js

2) what is the intended approach when it comes to update screenshots? Is there an "update" option s

[2020-04-24 05:36] puneet0191 commented on #58
Thanks a lot for reporting it, I think I will send a fix for this.

[2020-04-24 09:49] flo-sch commented on #60
Hi @puneet0191, (sorry for the nicknames confusion, I stopped using `flosch_hb` in the end)

No problem, thanks for your answers!
I managed to "fix" #1 by just increasing the tolerance:

[code]

I am not sure if I can download the images from bitbucket pipelines (the CI/CD system we used in my project), but I can try to setup a repository to reproduce it?

Regarding #2, I would be happy to contrib

[2020-04-26 06:18] puneet0191 commented on #45
@SokolovAlex are you still facing this? because I am trying to use with canvas@2.6.1 and it seems to work fine for me, please confirm back if you still face this issue, try updating to canvas@2.6.1

[2020-04-26 06:18] puneet0191 commented on #61
@szaboge Thanks a lot, will update it.

[2020-04-26 06:46] puneet0191 commented on #57
@Georgegriff could we possibly make this option configurable? User can provide this as config, so if they want to use it with workers, we can use pixelmatch

[2020-04-26 20:05] SokolovAlex commented on #45
i m not use resemblehelper now. if problem not  repeated, i close issue

[2020-04-26 20:05] #45 closed

[2020-04-26 21:08] Georgegriff commented on #57
That wouldn't really work because the libraries aren't 100% compatible I think it would have to be a standard alone helper

[2020-05-08 09:03] nick-myers-dt opened #67 "Canvas triggering error during build on Node >10"
When we include:
[code]
in our `package.json` and run `"codeceptjs": "^2.6.3"` test:
[code]
we get the following error:
[code]

If we leave this helper package out, then codeceptjs reports the error:
[code]

We're not using the ResembleHelper in our tests, however it appears that without it, our codeceptjs tests will not work.

Any idea what we can do to remedy this?

[2020-05-08 09:11] puneet0191 commented on #67
Thanks a lot for the report @nick-myers-dt could check if you still have helper mentioned in the configuration file?

That node error seems to be related to canvas 2.6.1, may be you could try to update it to 2.6.2?

[2020-05-08 10:24] nick-myers-dt commented on #67
Thank you @puneet0191 for replying.  You are correct, we do have the helper in the configuration file.  That will help us get past the build issue, many thanks!

In relation to the canvas version - I can only see 2.6.1 on https://github.com/Automattic/node-canvas/releases, is there a 2.6.2 release?

[2020-05-08 11:02] nick-myers-dt commented on #67
By including the following in our Dockerfile, and installing the following packages to node:apline-latest we've been able to work around the error.

`RUN apk upgrade --update && apk add python3 curl tar autoconf g++ make cairo cairo-dev cairomm-dev libjpeg-turbo-dev pango pango-dev pangomm pangomm-dev giflib-dev pixman pixman-dev`

[2020-05-08 11:22] puneet0191 commented on #67
Thanks , closing the issue since it is mostly because of configuration file you see missing helper, also regarding canvas yes I meant 2.6.1 sorry I missed your point about, thanks for the workaround.

[2020-05-08 11:22] #67 closed

[2020-05-16 08:11] puneet0191 commented on #61
Should be fixed, please try latest version, report back if you find any issues, thanks a lot!

[2020-05-16 08:11] #61 closed

[2020-05-16 08:11] #48 closed

[2020-05-16 08:12] puneet0191 commented on #29
@vitaly87  please check latest, if you still find issues, I will reopen.

[2020-05-16 08:12] #29 closed

[2020-05-16 08:13] puneet0191 commented on #60
@flo-sch I released a new version please check and tell me your feedback, if you still find anything that can be improved, I will fix it with next version, thanks a lot. and thanks to @jonatask  for the fixes.

[2020-05-16 08:13] #60 closed

[2020-06-02 06:06] gtycherry opened #69 "node crashes when image comparison difference is larger than the tolerance threshold."
Hi There,

I ran below error when I do visual testing via resemblehelper. Can anyone help to take a look? Thanks a lot.
The helper works well when the difference is under the tolerance indicator, only crashes when the image comparison difference is bigger than the tolerance.
![image](https://user-images.githubusercontent.com/8056464/83485553-debce000-a4d9-11ea-93ad-80356441e972.png)

The project d

[2020-06-02 06:33] puneet0191 commented on #69
@gtycherry any specific reason why you use node v8?

[2020-06-02 06:44] gtycherry commented on #69
Hi @puneet0191
I ran into some other issue when I use V10:
![image](https://user-images.githubusercontent.com/8056464/83488402-5f320f80-a4df-11ea-9674-b329df94b956.png)

I ran into above issue even without image comparison. My colleague also have the same V10 codeceptjs issue and V8 resemblehelper issue.

[2020-06-02 06:50] puneet0191 commented on #69
@gtycherry please try to use codeceptjs 1.9.0, I think you use the latest 1.9.1 which could be having this issue, and the issue with node 10, is because you have some old files in bcrypt, try to do it on a clean node_module folder, https://stackoverflow.com/questions/46384591/node-was-compiled-against-a-different-node-js-version-using-node-module-versio

[2020-06-02 07:47] gtycherry commented on #69
Hi @puneet0191
Thanks for recommendation. But seems I was without luck.
I think you meant resemble helper version should be 1.9.0. I tried both 1.9.1 and 1.9.0 Both didn't work.
For the V10 issue, per your tips, the original error disappeared, and all the test ran successfully. But there was a new issue come out when generating test report.
![image](https://user-images.githubusercontent.com/805646

[2020-06-02 07:50] puneet0191 commented on #69
@gtycherry I am not sure how this is related to the helper, please check if you get this error without using the helper?

[2020-06-02 07:54] gtycherry commented on #69
@puneet0191  I think without the helper ,codecepjs itself can't do image comparison.
I refered to the doc here https://codecept.io/visual/#using-resemble-helper

[2020-06-02 08:05] puneet0191 commented on #69
@gtycherry I am just trying to understand, if the problem is because of helper or something else in generating the report.

[2020-06-02 08:29] gtycherry commented on #69
@puneet0191
seems i confused you here, the reporter issue is for V10 testing run(this is to reply to you about why i must use V8). But my original priority one issue is nodejs crashes when visual testing found difference bigger than the specified threshold.
2 different problem, maybe we can ignore the V10 issue at the moment. But only focus on the crash issue.

[2020-06-04 02:35] gtycherry opened #70 "Comparison different image didn't added in html test report."
Hi There,

Currently, i can run visual comparison with codeceptjs-resemblehelper. But found the diff image can't be added in test report.
![image](https://user-images.githubusercontent.com/8056464/83708321-9a9f1c00-a64e-11ea-82d4-839b4e4fa59f.png)

Have configured allure in my test as below:
![image](https://user-images.githubusercontent.com/8056464/83708377-bc989e80-a64e-11ea-9eb4-73e9c356035b.pn

[2020-06-04 12:50] vazsonyidl opened #71 "The tests passes even when it is over threshold."
Hi there,

[code]

As the previous code snippet shows, since the options.skipFailure is undefined, the comparison would always return false. Because of this, the `assert` would never run, and the pipeline passes even when the tolerance is clearly over the threshold.

Please define false as default, because previously the `assert` run automatically, did not depend on the value of skipFailure.

[2020-06-04 13:23] puneet0191 commented on #71
@vazsonyidl could u please send fix, thanks for reporting, I will merge and make a new release.

[2020-06-17 18:11] eunicekokor commented on #71
@vazsonyidl @puneet0191 I am also running into this, there is also no mismatch percentage shown even though there is a new image generated in `diff`

[2020-06-17 18:17] vazsonyidl commented on #71
@eunicekokor i will fix it tomorrow

[2020-06-18 03:00] puneet0191 commented on #71
Thanks guys for helping 😊

[2020-06-29 07:16] vazsonyidl commented on #71
I do not have permission to contribute for this project. I am unable to push for a new branch created by me, so the solution should be.

` if (options.skipFailure === false) {
      assert(misMatch <= options.tolerance, "Screenshot does not match with the baseline " + baseImage + " when MissMatch Percentage is " + misMatch);
    }`

**should be replaced with:**

`if (!options.skipFailure) {

[2020-07-07 14:10] armands226 opened #72 "Docker Could not load helper ResembleHelper"
Hi,
I am struggling to run my visual tests in docker container.
I am able to run functional tests without codeceptjs-resemblehelper helper in docker.
I am able to run visual tests without docker container.
I have codeceptjs-resemblehelper module added.

Tried to give the absolute path. REquired module manually. Nothing helped.
SImple docker command
docker run --net=host -v “$(pwd):/tests” codecept

[2020-07-08 12:37] puneet0191 commented on #72
@armands226  I suggest you try running your tests on docker container this way
`docker run --net=host -v “$(pwd):/tests” -v "$(pwd)/node_modules:/node_modules" codeception/codeceptjs codeceptjs run`

[2020-07-08 12:46] #71 closed

[2020-07-08 18:39] shanplourde opened #75 "Helper attempts to confirm baseline and comparison images are accessible in write mode"
I'm trying to have Codecept's resemble-helper compare a read-only baseline file to a writable current file. The reason baseline files are read-only are because they are versioned in our version control system, and due to the file locking approach of our version control system (perforce) the files are always read-only until checked out.

The resemble-helper fails when attempting to open the read-on

[2020-09-18 01:20] shadow81627 opened #77 "Typescript could not find declaration file for module"
https://codecept.io/helpers/#using-typescript

[2020-09-21 21:06] SavitaMaurya commented on #57
Hi Team,

Any update on the issue?

[2020-09-22 11:40] caragpe opened #78 "Download base images doesn't work only with prepareBaseImage global"
When using method `_assertVisualDiff` , we are only downloading the base image if the `options` param explicitly includes the option `{prepareBaseImage: false}`. Otherwise, it will omit downloading the base file, even if the helper configuration includes the `prepareBaseImage` option.

My suggestion is to check the config option for `prepareBaseImage` when this option is missing in the `_assertVis

[2020-09-22 15:00] puneet0191 commented on #78
thanks @caragpe I will review and approve! thank you for your contribution.

[2020-09-22 15:04] puneet0191 commented on #75
@shanplourde thanks a lot, could you please send PR so I could merge with next release.

[2020-09-23 13:32] Djet78 opened #80 "Test passes with different images when using 'seeVisualDiffForElement' for comparison."
Hello!

I've got a test looking like that:
[code]

If I change added tool (2nd line) test keep passing instead of fail.
Both images have the same dimensions.
Also, for some reason, test produces diff image, without highlighted difference.

## Test run results

Test Output image: ![OUTPUT_CROSS_ELEM](https://user-images.githubusercontent.com/38956861/94015406-7ad66400-fdb5-11ea-831c-8c4f829d0b35.pn

[2020-10-21 12:25] patrjam commented on #58
Is here any progress?

Thanks.

[2020-12-02 15:31] puneet0191 commented on #78
@caragpe I am closing this issue as it has been released, please feel free to reopen if you still have this problem

[2020-12-02 15:31] #78 closed

[2020-12-02 15:32] puneet0191 commented on #75
This has been released and fixed, closing. thank you

[2020-12-02 15:32] #75 closed

[2020-12-02 15:33] puneet0191 commented on #72
Please feel free to open the issue if this issue still persists.

[2020-12-02 15:33] #72 closed

[2020-12-02 15:34] puneet0191 commented on #69
@gtycherry are you still able to reproduce this? I haven't encountered any reports, please feeel free to reopen in case this still is a problem for you, thanks a lot for reporting.

[2020-12-02 15:34] #69 closed

[2020-12-02 15:34] #7 closed

[2020-12-02 15:35] puneet0191 commented on #8
Fixed Hence closing

[2020-12-02 15:35] #8 closed

[2020-12-02 15:36] puneet0191 commented on #44
@pablopaul I am closing this issue, if this still happens please feel free to reopen.

[2020-12-02 15:36] #44 closed

[2021-03-02 15:03] patrjam commented on #58
@theptyza I sent you an email, please check it.

[2021-03-12 04:23] isudilovskiy commented on #80
Same issue
codeceptjs: 3.0.2
codeceptjs-resemblehelper: 1.9.3
playwright: 1.7.1

[2021-04-26 05:18] bhupendrarautela7 commented on #57
I am also facing a similar issue.

`Worker Error: Error: Could not load helper ResembleHelper from module 'codeceptjs-resemblehelper':`

Please provide solution.

[2021-05-25 01:40] ricardoekm commented on #60
Hi @flo-sch, having the same issue here.

For what's worth one of the causes is that Webdriver saveScreenShot command seems to save the image with different dimensions on mac compared to linux, even when setting the same window size.

Adding a .scaleToSameSize() command on resemble comparison should help here.

[2021-07-13 10:52] ngraf opened #87 "Installation fails with node16+"
I can't install the package `codeceptjs-resemblehelper` anymore because of `gyp`

`npm install codeceptjs-resemblehelper`
fails with HTTP 404 in:
`error response status 404 Not Found on https://github.com/node-gfx/node-canvas-prebuilt/releases/download/v2.6.1/canvas-v2.6.1-node-v93-linux-glibc-x64.tar.gz`

Executed in docker image: `mcr.microsoft.com/playwright:focal`
It worked some weeks ago in e

[2021-07-13 11:07] puneet0191 commented on #87
thanks a lot for looking into this, Will look into this.

[2021-07-15 04:41] puneet0191 commented on #87
@ngraf are you still facing this issue, I have been able to make it work on my system

[code]

[2021-07-15 06:11] ngraf commented on #87
I found out it is related to **node16**

You can reproduce:
`docker run --rm node:15 sh -c "mkdir test; cd test; npm install codeceptjs-resemblehelper"` 💚
`docker run --rm node:16 sh -c "mkdir test; cd test; npm install codeceptjs-resemblehelper"` 🔴<

Downgrade version of `node` is not an option for me, because of reasons. Therefor it would be helpful to find a solution, or at least mark the packa

[2021-07-16 16:09] lind-eduard commented on #57
Same for me...Is it supposed to be fixed, or this helper abandoned?

[2021-07-29 20:43] fsblemos opened #88 "Global prepareBaseImage not working"
Hi!

After [this change](https://github.com/codeceptjs/codeceptjs-resemblehelper/pull/79), the global `prepareBaseImage` is not generating the base images. It's only working when passing to `seeVisualDiff`.

I'm opening a PR to fix it, can you take a look?

Thanks for you work

[2021-08-09 20:28] stracker-phil commented on #57
I'm running into the same issue, but it seems that the problem is a different package:

The `node.canvas` package does not support workers yet (the resemble-helper uses that package internally). There are some open issues in the canvas project; this one appears to be the relevant one:

https://github.com/Automattic/node-canvas/issues/1394

[2021-08-10 05:27] puneet0191 commented on #88
thanks a lot for reporting, I will look at the PR's

[2021-08-10 05:32] puneet0191 commented on #88
@fsblemos could you help test https://github.com/codeceptjs/codeceptjs-resemblehelper/pull/90/ has some refactoring and also fixes the issue you reported.

[2021-08-10 12:23] fsblemos commented on #88
Thank you @puneet0191! #90 looks great and solves this issue! I can close #89 then

[2021-08-10 12:25] puneet0191 commented on #88
thanks a lot for checking, I really appreciate it.

[2021-08-10 12:42] puneet0191 commented on #88
Releasing with the fix thanks

[2021-08-10 12:42] #88 closed

[2021-08-18 23:25] ogiexela opened #93 "Percentage Calculated is 0.00 for large images"
It looks like when an image is large enough the calculated percentage is 0.00.

Test images:

white background with black line
![base](https://user-images.githubusercontent.com/29718271/129984261-fed514e8-b31c-44e8-9fb3-724ace6a5925.png)

just white background
![base-blank](https://user-images.githubusercontent.com/29718271/129984263-69610ba4-7b87-442b-bb78-f0b1af469b1b.png)

The diff image genera

[2021-08-26 13:53] jpmschuler opened #94 "FEATURE: allow resemble.compare even if dimensions are not the same"
The documentation says:

[code]

which is found in the code https://github.com/codeceptjs/codeceptjs-resemblehelper/blob/3d9974df5db59206bfd2f322a5fb926ee652071d/index.js#L79-L83
However the underlying resemble.js works just fine in calculating the diff percentage and tolerance and taking that into account.

### I propose to make this check optional and thus introduce an option/parameter to skip t

[2021-09-05 05:29] puneet0191 commented on #94
Thanks a lot, I think it should fine to add this check as an optional parameter, which is defaulted to true.

@jpmschuler could you please have a PR for this request, if you have time. It would be great help. I will make a new release.

[2021-09-09 23:11] jpmschuler opened #95 "Mochawesome context gets absolute paths instead of relative to Images"
In order for the mocha awesome HTML report to be more helpful it would be nice if `_addMochaContext` https://github.com/codeceptjs/codeceptjs-resemblehelper/blob/master/index.js#L168 would supply relative paths to the images.As we (like most) probably run CI/CD the build artefacts are not viewed on the same system they are created, thus they won't be shown:
![Bildschirmfoto 2021-09-10 um 01 05 55]

[2021-09-26 02:35] MumblesNZ commented on #60
Also have the same issue with my local mac env vs gitlab CI linux env. We ended up dockerising the local testing environment to ensure it's running with the same environment. Only downside is it's a bit slower then running it directly.

Anyone got any further thoughts on a solution here?

[2021-11-06 07:24] puneet0191 commented on #77
Fixed, https://github.com/codeceptjs/codeceptjs-resemblehelper/releases/tag/v1.9.5

[2021-11-06 07:24] #77 closed

[2021-11-06 07:24] puneet0191 commented on #95
Thanks a lot, fixed with https://github.com/codeceptjs/codeceptjs-resemblehelper/releases/tag/v1.9.5

[2021-11-06 07:24] #95 closed

[2021-11-06 07:25] puneet0191 commented on #94
Thank you, fixed with https://github.com/codeceptjs/codeceptjs-resemblehelper/releases/tag/v1.9.5

[2021-11-06 07:25] #94 closed

[2021-11-12 15:47] kiran37 commented on #87
This PR should fix the issue: https://github.com/codeceptjs/codeceptjs-resemblehelper/pull/101

[2021-11-19 11:35] mirao opened #102 "Zero tolerance causes: UnhandledPromiseRejectionWarning: TypeError: this.resolveImagePathRelativeFromReport is not a function"
It seems to be a regression in 1.9.5
It works well for me with 1.9.4

Run test with this step
[code]
**Expected result:**

- No issue

**Actual result:**

- Test passes, but an exception is logged:
[code]
**Workaround:**

- Use a non zero tolerance, e.g. `{ tolerance: 0.01 }`

**Used SW:**

- Node v14.18.1
- CodeceptJS 3.0.7
- codeceptjs-resemblehelper 1.9.5

[2021-11-24 11:01] puneet0191 commented on #102
thanks a lot for reporting this.

[2021-11-30 08:55] ekolga opened #104 "Images cannot be found if the user's directory named using Russian language"
OS: Windows 10

If you have your user's directory named in Russian (for example  "C:\Users\Васян\") the whole ResembleHelper wont work on your system. That's some kind of path-related issues.

That's the error what you get in that case:
`Uncaught C:\\Users\\Васян\\work\\project\\tests\\end-to-end\\output/firstPage.png does not exist`

I've changed my user's directory name to another one using only

[2021-12-05 22:53] armandsz22 commented on #102
Same issue.

[2021-12-06 04:16] puneet0191 commented on #102
@armandsz22 @mirao anyone has time to send a PR to fix this?

[2021-12-16 13:40] aschmidtwork opened #105 "failing to run in codeceptjs/codeceptjs docker image"
i would like to use this in codeceptjs/codeceptjs docker container, but i'm not sure if i'm doing it right.

this dockerfile builds fine:
[code]

but running the docker container gives these errors:
[code]

[2021-12-17 15:34] komarov-v opened #106 "Add support different endpoint for S3"
Now ResembleHelper can use only AWS S3 as a storage provider, but s3-sdk can be configure for different providers just by passing a "endpoint" param to the config.

[2022-01-28 11:44] ChrisSmartNews opened #109 "Allow user to choose screenshotFolder"
Currently the `screenshotFolder` is defaulted to the codeceptjs `output` folder no matter what you set in the `ResembleHelper` config.

I would like to set the screenshot folder because:

I currently run both Webkit and Chromium tests and taking screenshots differ between them by a little. I want to have separate base images for webkit and chromium.

I want to have the base images for the same tes

[2022-01-28 13:47] puneet0191 commented on #109
I get your point, whats a solution you can propose around this? @ChrisSmartNews

[2022-01-28 22:19] ChrisSmartNews commented on #109
Hello, thanks for replying! I was thinking the obvious solution which is to make `screenshotFolder` configurable. The user can make it the same as their output dir if they want.  I only started looking at `resemblehelper` yesterday so let me know if I'm missing something here 😄  Just not too sure why the screenshot folder was designed here to be un-configurable.

[2022-04-01 10:16] umeshperera commented on #87
Still facing the same issue in node v17.5.0

[2022-05-04 15:53] kobenguyent opened #112 "[improvements] - auto release with semantic release"
Hi @puneet0191 what do you think if we automate the release using semantic release

[2022-05-23 12:27] shr2 commented on #80
The main issue here is that the obvious differences between base and current image are not detected and the test is not failing.

[2022-05-23 12:36] shr2 commented on #80
Yes I did. Heres my package json
![image](https://user-images.githubusercontent.com/17846323/169820690-8bddd7ff-d8ff-4384-9485-6d4a131192e1.png)

[2022-06-20 16:04] gunta commented on #87
Still not fixed, macOS here

[2022-08-03 09:11] sharath2106 opened #114 "Setting needsSameDimension flag to false isn't validating the difference of text between two locales."
We are using `codeceptjs-resemblehelper` to perform visual regression testing for our application that supports multiple locales. We are logging in with users mapped to these locales to achieve this.

Since our page is dynamic and it contains data. We are using `I.seeVisualDiffForElement` method and find the diff only for the elements that are static in the application. Some translations are rende

[2022-08-03 10:12] puneet0191 commented on #114
Hi @sharath2106 I will take a look at this issue, seems like a bug to me. thank you for reporting.

[2022-08-04 07:43] sharath2106 commented on #114
Thanks Puneet. If it's something easy to fix, I'd like to work on this. Please let me know.

[2022-08-04 08:35] puneet0191 commented on #114
Sure, I can't recall exactly which part causes this but feel free to send a patch for fixing this.

[2022-08-08 20:37] sharath2106 commented on #114
@puneet0191 - I was just looking at the code and looks like the below snippet could be the problem.
[code]

Please correct me if I'm wrong.

[2022-08-15 15:18] sharath2106 commented on #114
@puneet0191 I'm thinking of making the changes as shown in my previous comment. Not sure if that's exactly the one. Please let me know.

[2022-08-15 15:24] puneet0191 commented on #114
@sharath2106 sorry I could not find enough time to verify, send PR, we will have it tested and make a new release.

[2022-08-22 13:43] sharath2106 opened #115 "Screenshot comparison is not working for placeholder text"
We are using codeceptjs-resemblehelper to perform visual regression testing for our application that supports multiple locales. We are logging in with users mapped to these locales to achieve this.

We were trying a negative scenario where we compared two search boxes of different locales.

https://user-images.githubusercontent.com/25933070/182240325-cccd090c-7e0f-4501-b54a-dc3e28aab23c.png

![sea

[2022-08-29 11:52] RashmiRamdas opened #116 "Unable to pass boundingBoxes prop"
Hi Team,

Could you please add support for boundingBoxes similar to boundingBox/ignoredBox (https://github.com/codeceptjs/codeceptjs-resemblehelper/issues/12)

[code]

[2022-09-07 16:09] chadi-kazan opened #117 "False positives and inconsistent results"
I am using codeceptjs-resemblehelper@1.9.6 with codeceptjs@3.3.3 to run some e2e tests.

I am running into this very weird situation where some tests fail randomly and inconsistently with a couple of pixels diff. It's not always the same tests, it changes.

anyone had a similar issue?

thanks

[2022-09-27 10:35] sharath2106 commented on #114
Hi @puneet0191 . I feel the issue is not because of the `if` statement. My fix which i was talking about was on this statement, but i think it's not.

`if (options.needsSameDimension && !data.isSameDimensions) {
            let dimensions1 = sizeOf(baseImage);
            let dimensions2 = sizeOf(actualImage);
            reject(new Error(`The base image is of ${dimensions1.height} X ${dimensions1

[2022-09-29 08:29] sharath2106 commented on #114
@puneet0191 Also, ignoredBox is not taking the precedence over sameDimensions -`false` flag. I think, this need to be looked and sorted out for our scripts to work.

[2022-10-04 16:33] armandsz22 opened #118 "resemble.js Output Settings working?"
Hi, is this option resemble.js Output Settings working?
Tried to follow instructions, tried ignoredBox. No effect. I want to use ignoredBoxes.
    const outputSettings = {
      ignoredBox: {  left: 184, top: 231, right: 284, bottom: 254}
    };
    I.seeVisualDiff("Reporing_TimeCorrection-CorrectionOfDetails.png", {prepareBaseImage: baseImage.desktopPages.reporting.timeCorrection, tolerance: 0.00

[2022-10-30 13:06] mirao commented on #102
@puneet0191 PR: https://github.com/codeceptjs/codeceptjs-resemblehelper/pull/119

[2022-11-03 16:35] JonnyCodes commented on #87
Saw this issue as well, updating resembleJS to 4.1.0 fixed it for me.
I did it by adding an override into my own package.json.

[2022-11-03 17:01] jamesfarmer171 commented on #87
plus one to the above comment about needed to updated resembleJS to 4.1.0

[2022-11-21 15:44] StasGrishaevTutu commented on #87
same issue here, NodeJS 18